<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet"  href="css/style.css">
    <style type="text/css">
      .jumbotron {
          position: relative;
          background: url(img/bg.png) center center;
          color:#fff;
          width: 100%;
          height: 100%;
          background-size: cover;
          overflow: hidden;
          min-height: 400px;
      }
    </style>

    <title>iJasa</title>
  </head>
  
  <body>
  <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid text-center" >
    <nav class="navbar navbar-light navbar-expand-lg ">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="semuabencana.html">Bencana</a>
      </li>
      <li>
        <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Cari bencana atau lokasi" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Cari</button>
    </form>
      </li>
    </ul>
 <div style="padding-right:  50px; color: #fff; "><h5 class="display-5">Hai Donatur !</h5></div>
    <div class="dropdown show">
  <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="img/profil.png" class="rounded-circle" width="60px">
    
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="profil.html">Profil</a>
    <a class="dropdown-item" href="semuabencana.html">Donasi</a>
    <a class="dropdown-item" href="riwayat.html">Riwayat</a>
    <a class="dropdown-item" href="login.html">Sign out</a>

  </div>

</div>
    
   
  </div>

</nav>
        <h1>iJasa</h1>
        <a class="btn btn-outline-light" href="semuabencana.html" role="button">Kirim Bantuanmu, Sampai Lebih Awal</a>
        <p class="lead">Mari kita ringankan beban saudara kita yang sedang mengalami musibah</p>
        
    </div>
  <!-- tutup jumbotron -->
    <section class="about " id="about">
      <div class="container ">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center">Laporan Bencana Terdekat</h2>
            <hr>
          </div>
        </div>
        <div class="row">

        <div class="col-sm-4 card" style="width: 18rem;">
          <a href="kebakarane1.html"><img class="card-img-top " src="img/e1.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Ledakan Kilang Minyak Aceh</h5>
            <p class="card-text">Ledakan dahsyat pada sebuah kilang minyak di Aceh menyebabkan 21 lebih warga meningggal dunia</p>
            <p class="text-right"><a href="e1d.html" class="btn btn-success">Donasi</a></p>
          </div>
        </div>

          <div class="col-sm-4 card" style="width: 18rem;">
          <a href="angintopand2.html"><img class="card-img-top" src="img/d2.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Angin Topan Lhoksukon</h5>
            <p class="card-text">Angin kencang yang telah menerjang Kabupaten Lhoksukon menyebabkan rumah warga dan fasilitas umum rusak</p>
           <p class="text-right"><a href="d2d.html" class="btn btn-success">Donasi</a></p>
          </div>
        </div>

          <div class="col-sm-4 card" style="width: 18rem;">
          <a href="gunungMugajah.html"><img class="card-img-top" src="img/a6.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Gunung Mugajah Meletus</h5>
            <p class="card-text">Senin pukul 21.00 Gunung Mugajah meletus dan melontarkan material vulkanik hinga radius 50km lebih</p>
           <p class="text-right"><a href="gunungmugajahd.html" class="btn btn-success">Donasi</a></p>
          </div>
        </div>
        </div>

          

        <div class="row">

          <div class="col-sm-4 card" style="width: 18rem;">
          <a href="tsunamig1.html"><img class="card-img-top" src="img/g1.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Tsunami Aceh</h5>
            <p class="card-text">Gempa 9,1 skala richter yang terjadi di dasar laut mengakibatkan gelombang tsunami pada daerah pesisir pantai Banda Aceh dan sekitarnya</p>
            <p class="text-right"><a href="g1d.html" class="btn btn-success">Donasi</a></p>
          </div>
        </div>

          <div class="col-sm-4 card" style="width: 18rem;">
          <a href="banjirb3.html"><img class="card-img-top" src="img/b3.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Banjir Bandang Minas</h5>
            <p class="card-text">Banjir bandang di Minas menenggelamkan ratusan rumah warga. Banjir disebabkan oleh banyaknya sampah yang tersumbat di pintu sungai</p>
           <p class="text-right"><a href="b3d.html" class="btn btn-success">Donasi</a></p>
          </div>
        </div>

          <div class="col-sm-4 card" style="width: 18rem;">
          <a href="tanahlongsorc3.html"><img class="card-img-top" src="img/C3.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Tanah Longsor Bandar</h5>
            <p class="card-text">Curah hujan yang tinggi dan kurangnya pepohonan yang ada pada lahan miring menyebabkan tanah longsor pada pukul 04.30 WIB</p>
           <p class="text-right"><a href="c3d.html" class="btn btn-success">Donasi</a></p>
          </div>
        </div>
        </div>

          <div class="row">
          <div class="col-sm-12 text-center">
            <a class="btn btn-primary" href="semuabencana.html" role="button">Lihat Semua</a>
          </div>
          </div>
        
    </section>
 
    <footer>
      <div class="container">
      <div class="row" >
        <div class="col-sm-5 offset-sm-1">
          <strong><u><h4>iJasa</h4></u></strong>
          <p>Merupakan aplikasi resmi yang bekerja sama dengan BDPB untuk pendistribusian bantuan logistik</p>
        </div>      
        <div class="col-sm-5">
          <h4>Temukan kami di :</h4>
          <a href=""><img src="img/fb.png" class="rounded-circle" width="30px"></a>    
          <a href=""><img src="img/ig.png" class="rounded-circle" width="35px"></a>
          <a href=""><img src="img/tw.png" class="rounded-circle" width="32px"></a>
        </div>
      </div>
      
        <div class="row text-center">
          <div class="col-sm-12">
          <hr>
            <p>
              &copy; copyright 2017 | Built by IndiCorp
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
      });
      $('#myCollapsible').on('hidden.bs.collapse', function () {
  // do something…
});
    </script>

  </body>
</html>
<!--  -->